<app-card>
  <div class="book-detail-container">
    <div class="actions-row">
      <div class="source-name">
        GOODREADS
      </div>
      <div class="actions" *ngIf="bookInfo">
        <app-loading-button [icon]="'add'" [color]="'primary'" [title]="'Add'" [loading]="insertLoading" class="button"
                            *ngIf="!bookInfo.inBooks" (click)="addBook()"></app-loading-button>
        <app-loading-button [icon]="'delete'" [color]="'warn'" class="button" [loading]="insertLoading" [title]="'Remove'"
                            *ngIf="bookInfo.inBooks" (click)="removeBook()"></app-loading-button>
        <form>
          <md-select [disabled]="!bookInfo.inBooks" [ngModel]="bookInfo.status" (change)="changeStatus($event)" name="status">
            <md-option *ngFor="let item of [0,1,2]" [value]="item">{{item | bookStatus}}</md-option>
          </md-select>
        </form>
        <app-card>Export to PDF</app-card>
      </div>
    </div>

    <div class="book-info">
      <div class="source">
        <div class="triangle"></div>
        <app-card noPaddingCard>
          <div class="tabs-container">
            <div class="item" *ngFor="let tab of tabs; let i = index" [ngClass]="{'selected-tab': selectedTab === i}"
                 (click)="selectTab(i)">
              {{tab}}
            </div>
          </div>
        </app-card>
      </div>

      <div class="info" *ngIf="book">
        <app-card>
          <div class="info-container">
            <div class="cover">
              <img src="{{book.imageUrl}}" alt="{{book.authors[0].name}} - {{book.title}}">
            </div>

            <div class="details">
              <div class="label">title</div>
              <div class="content">{{book.title}}</div>
              <div class="label">author</div>
              <div class="content">{{book.authors[0].name}}</div>
              <div class="label">publisher</div>
              <div class="content">{{book.publisher}}</div>
              <div class="label">pages</div>
              <div class="content">{{book.pages}}</div>
            </div>

            <div class="description">
              {{book.description}}
            </div>
          </div>
        </app-card>
      </div>
    </div>

    <app-card>
      <div class="similar-books-container">
        <app-book-preview *ngFor="let simBook of similarBooks" [book]="simBook" (click)="goToBook(simBook)"></app-book-preview>
      </div>
    </app-card>

    <app-card>
      <div class="comments">
        <div class="my-comment">
          <app-comment
            [editable]="bookInfo?.inBooks"
            [commentData]="userComment"
            [newComment]="newComment"
            *ngIf="userComment"
            (addComment)="addComment($event)"
            (deleteComment)="deleteComment($event)"
            (editComment)="editComment($event)"></app-comment>
        </div>
        <div class="other-comments">
          <app-comment *ngFor="let item of comments" [editable]="false" [commentData]="item"></app-comment>
        </div>
      </div>

    </app-card>


    <div class="buy">
      <app-card>
        BUY
      </app-card>
    </div>
    <app-card *ngIf="bookInfo?.inBooks">
      <div class="education-content">
        <app-education [data]="bookInfo.educational" (dataUpdate)="setEducational($event)"></app-education>
      </div>
    </app-card>
  </div>
</app-card>