$book-source-width: 250px;
$space-between: 30px;

$label-color: black;
$label-size: 16px;

$content-color: rgba(black, .87);
$content-size: 15px;

.book-detail-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .actions-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .actions {
      display: flex;
      app-card {
        margin-left: 15px;
      }
    }

    .source-name {
      font-weight: bolder;
      color: black;
      font-size: 20px;
      margin-left: 10px;
    }
  }

  .book-info {
    display: flex;

    .source {
      width: $book-source-width;
    }

    .info {
      flex-grow: 1;
      margin-left: $space-between;

      .info-container {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;

        .cover {

        }

        .details {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          flex-basis: 0;

          .label {
            font-size: $label-size;
            color: $label-color;
            text-transform: uppercase;
            font-weight: bold;
          }

          .content {
            font-size: $content-size;
            color: $content-color;
            padding-left: 10px;

            &:not(:first-child) {
              padding-bottom: 10px;
            }
          }
        }

        .description {
          margin-left: 40px;
          margin-right: 20px;
          text-align: justify;
          flex-grow: 3;
          flex-basis: 0;
        }

      }
    }
  }

  .buy {

  }

  .comments {

    .my-comment {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
    }

    .other-comments {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
      flex-direction: column;
    }
  }

  .education {
    .education-content {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
  }
}