<app-card>
  <div class="book-detail-container">
    <div class="actions-row">
      <div class="source-name">
        GOODREADS
      </div>
      <div class="actions">
        <app-loading-button [icon]="'add'" [color]="'primary'" [title]="'Add'" [loading]="insertLoading" class="button" *ngIf="shouldAdd" (click)="addBook()"></app-loading-button>
        <app-loading-button [icon]="'delete'" [color]="'warn'" class="button" [loading]="insertLoading" [title]="'Remove'" *ngIf="!shouldAdd" (click)="removeBook()"></app-loading-button>
        <app-card>Status: Read / To read</app-card>
        <app-card>Export to PDF</app-card>
      </div>
    </div>

    <div class="book-info">
      <div class="source">
        <div class="triangle"></div>
        <app-card noPaddingCard>
          <div class="tabs-container">
            <div class="item" *ngFor="let tab of tabs; let i = index" [ngClass]="{'selected-tab': selectedTab === i}"
                 (click)="selectTab(i)">
              {{tab}}
            </div>
          </div>
        </app-card>
      </div>

      <div class="info" *ngIf="book">
        <app-card>
          <div class="info-container">
            <div class="cover">
              <img src="{{book.imageUrl}}" alt="{{book.authors[0].name}} - {{book.title}}">
            </div>

            <div class="details">
              <div class="label">title</div>
              <div class="content">{{book.title}}</div>
              <div class="label">author</div>
              <div class="content">{{book.authors[0].name}}</div>
              <div class="label">publisher</div>
              <div class="content">{{book.publisher}}</div>
              <div class="label">pages</div>
              <div class="content">{{book.pages}}</div>
            </div>

            <div class="description">
              {{book.description}}
            </div>
          </div>
        </app-card>
      </div>
    </div>

    <div class="buy">
      <app-card>
        BUY
      </app-card>
    </div>

    <app-card>
      <div class="comments">
        <div class="my-comment">
          MY COMMENT
        </div>
        <div class="other-comments">
          <div>comment</div>
          <div>comment</div>
          <div>comment</div>
          <div>comment</div>
        </div>
      </div>
    </app-card>

    <div class="education">
      <app-card>
        <div class="education-content">
          EDUCATION SECTION
        </div>
      </app-card>
    </div>
  </div>
</app-card>