.detail-container {
  @extend .column;

  .book-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .first-column {
      display: flex;
      padding-right: 50px;
      .info {
        margin-left: 10px;
        @extend .column;

      }
    }
    .second-column {
      @extend .column;

      .description {
        .content {
          text-align: justify;
        }
      }

    }

  }
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.header {
  margin-bottom: 5px;
  color: #40352B;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
}

.content {
  color: #272522;
  padding-left: 3px;
  padding-bottom: 5px;
  font-size: 16px;
}

