<div class="detail-container" *ngIf="book">
  <div class="book-info">
    <div class="first-column">
      <div class="cover">
        <img src="{{book.imageUrl}}" alt="{{book.title}}">
      </div>
      <div class="info">
        <div class="title">
          <div class="header">title</div>
          <div class="content">{{book.title}}</div>
        </div>
        <div class="author" *ngFor="let author of book.authors">
          <div class="header">author</div>
          <div class="content">{{author.name}}</div>
        </div>
      </div>
    </div>
    <div class="second-column">
      <div class="description">
        <div class="header">description</div>
        <div class="content">{{book.description}}</div>
      </div>
    </div>
  </div>
</div>
