@import '../../theme';

$margin-icon: 5px;

.searcher-container {
  display: flex;
  align-items: center;

  .search-icon {
    z-index: 2;
    padding-left: $margin-icon;
    color: $loader-background-color;
  }

  input {
    border: none;
    background: transparent;
    height: 40px;
    width: 300px;
    transition: width 1s, color 1s, outline 1s, ease;
    color: $toolbar-font-color;
    font-size: $toolbar-font-size;
    font-weight: $toolbar-weight;
    outline: 1px solid darken(#584C43, 2%);
    padding-left: 40px;
    padding-right: 45px;
    margin-left: -24px - $margin-icon;
    box-sizing: border-box;

    &:focus {
      outline: 3px solid #584C43;
      width: 600px;
      color: lighten($toolbar-font-color, 5%);

    }
  }

  app-loader {
    margin-left: -40px;
    padding-right: 40px;
  }

  .dropdown {
    background-color: white;
    width: 600px;
    overflow: hidden;
    max-height: 50vh;
    overflow-y: scroll;

    .book {
      box-sizing: border-box;
      padding: 3px;
      background-color: $loader-background-color;
      min-height: 30px;
      display: flex;
      justify-content: space-between;

      .summary {
        display: flex;
        flex-direction: column;
      }

      &:hover {
        background-color: darken($loader-background-color, 5%);
      }
    }
  }
}

.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}
