$toolbar-background-color: linear-gradient(to right, rgba(#272522, .8), rgba(#272522, 1));
$toolbar-font-size: 18px;
$toolbar-weight: bold;
$toolbar-font-color: #917865;

@font-face {
  font-family: 'hand-written';
  src: url('../assets/font/CAROBTN_.TTF') format('truetype');
}
