<div class="book-preview-container" *ngIf="book">
  <div class="photo-cover" [style.backgroundImage]="sanitize(book.imageUrl)">
    <span>{{book.title}}</span>
  </div>
  <div class="book-info">
    <div class="photo">
      <img src="{{book.imageUrl}}" alt="TITLE AUTHOR">
    </div>
    <div class="item">
      <div class="label">
        TITLE
      </div>
      <div class="value">
        {{book.title}}
      </div>
    </div>
    <div class="item">
      <div class="label">
        AUTHOR
      </div>
      <div class="value">
        {{book.author}}
      </div>
    </div>
    <div class="item" *ngIf="book.status">
      <div class="label">
        STATUS
      </div>
      <div class="value">
        {{book.status}}
      </div>
    </div>
    <div class="item">
      <div class="label">
        SHELVES
      </div>
      <div class="value">
        shelves
      </div>
    </div>
  </div>
</div>

